[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = git@github.com:gmarik/Vundle.vim.git
[submodule "zsh-interactive-cd"]
	path = zsh-interactive-cd
	url = git@github.com:changyuheng/zsh-interactive-cd.git
